.form-signin{
    padding-top: 100px;
    margin: auto;
    width: 250px;
}
.form-control{
    margin-top: 5px;
}
.check-box{
    margin-top: 5px;
}
.sign-up{
    position: absolute;
    top: 30px;
    right: 50px;
}